<h1>orders</h1>

<table class="table table-striped table-hover">
  <thead class="table-secondary">
    <tr>
      <th>email</th>
      <th>title</th>
      <th>price</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.employee.email %></td>
        <td><%= order.reward.title %></td>
        <td><%= order.reward.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
