<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Please, setup your first and last name in <%= link_to "Edit Profile", edit_employee_registration_path %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
