<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>How to pickup your item</h1>
    <p>Thanks for purchasing! <%= @order.reward_snapshot.title %> </p>
    <p>In order to pickup your item, please drive to Polna 3/5 in our working hours (Mon-Fri 8-19).</p>
  </body>
</html>
